<%- include('partials/header') %>

<div id="jumbotron-centered" class="jumbotron centered">
  <div class="container">

    <h1 id="welcome" class="display-3">Welcome to Job Junction</h1>
    <br>
    <p id="para" class="lead">Kick started here to bloom up your placement oppurtunities</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
