<%- include('partials/header') %>

<div id="jumbotron-centered" class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 id="disfont" class="display-3">Thanks for logging In!</h1>
    <br>
    <p class="secret-text">Welcome to Job Junction</p>
    <hr>
      <br><br>
      <h1 id="welcome">Click and choose your career path</h1>
<br><br>
      <!-- section -->
      <section class="layout_padding section">
        <div class="row">
          <div class="col" id="cont">
                  <h4>Placements</h4>
            <img src="css/img/interview.png" width=200px; height=200px; style="border-radius:15%;" alt="">
            <br><br>
            <a class="btn btn-light btn-lg" href="https://skvarshasivakumar.github.io/placements/" role="button">Job fired get hired</a>

          </div>
          <div class="col" id="cont">
            <h6>Learning Materials</h6>
            <img src="css/img/interview.png" width=200px; height=200px; style="border-radius:15%;" alt="">
            <br><br>
                    <a class="btn btn-light btn-lg" href="https://nivee4.github.io/niveecarrerplanet/" role="button">start learning</a>

          </div>
          <div class="col" id="cont">
            <h4>Higher Studies</h4>
            <img src="css/img/interview.png" width=200px; height=200px; style="border-radius:15%;" alt="">
            <br><br>
                    <a class="btn btn-light btn-lg" href="https://yuvashri13.github.io/higherstudy2/" role="button">study abroad</a>

          </div>
          <div class="col" id="cont">
            <h4>Govt Jobs</h4>
            <img src="css/img/interview.png" width=200px; height=200px; style="border-radius:15%;" alt="">
            <br><br>
            <a class="btn btn-light btn-lg" href="https://swathi-r2.github.io/swathicarreerplanet/" role="button">Get your dream job</a>
          </div>
        </div>
      </section>
      <br><br>
      <a class="btn btn-dark btn-lg" href="https://glugot-tce-edu-feedback.onrender.com/" role="button">Give us your valuable feedback</a>
      <br><br><br>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

  <%- include('partials/footer') %>
